<p style="padding:15px 0 15px 0;border-top: 1px solid #eee;border-bottom: 1px solid #eee;width:50%;">You have unread messages.</p>
<table style="width:50%;">
<tr>
<td>
Log into <a href="https://space.coop/log-in">https://space.coop</a> to read them.
</td>
<td>
</td>
</tr>
</table>

