.row.nested-location-fields
  .col-xs-12
    .location_row
      .col-xs-11.row
        .col-md-4.col-sm-4
          .form-group
            =f.label :planet, :class=>'control-label planet-label'
            = f.select :planet ,[['',''],['Earth','Earth'], ['Mars','Mars'], ['Moon','Moon']],{},:class => 'form-control'
        .col-md-4.col-sm-4
          .form-group
            =f.label :latitude, :class=>'control-label'
            =f.text_field :latitude , :class=>'form-control'
        .col-md-4.col-sm-4
          .form-group
            =f.label :longitude, :class=>'control-label'
            =f.text_field :longitude , :class=>'form-control'
      .col-xs-1
        = link_to_remove_association '', f, { wrapper_class: 'nested-location-fields' }
        %button.close{:type=>"button", :class=>"remove_location_button"}
          %span{"aria-hidden"=>"true"} &times;
