-if !message.nil?
  - render_for_current_user = !render_for_current_user.nil? && render_for_current_user
  %li{:id=>"message_in_nav_#{message['c_id']}"}
    .clearfix
      .pull-left
        - if !render_for_current_user || message["m_user_id"] != current_user.id
          =image_tag raw_avatar_helper(message).avatar.url(:thumb), :class=>"message-avatar"  
        - else      
          - user_to_img = get_group_to_avatar(message,current_user.id)&.first&.avatar&.url(:thumb)
          - if !user_to_img.nil?
            =image_tag user_to_img, :class=>"message-avatar"        
      -if message["g_read"] == 0
        .unread-mark.pull-right
      .messages-container
        .user
          =link_to message["u_name"], user_path(message["m_user_id"])
        .message-text
          =link_to conversation_path(message["c_id"]), remote:true do
            - if render_for_current_user && message["m_user_id"] == current_user.id
              %span You: 
            =message["m_body"]
      %div
        .message-time.pull-right
          .platform_timestamp{"data-time-stamp"=>message["m_created_at"]}=platform_timestamp(message["m_created_at"])