*.rbc
capybara-*.html
.rspec
.ebextensions
.elasticbeanstalk
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/uploads/*
/public/assets/*
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
client_secrets.json
spacecoop-creds.json
dump.rdb

config/initializers/secret_token.rb

.env

/.bundle
/vendor/bundle

.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv

.byebug_history

#OSX files
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore application configuration
/config/application.yml
config/database.yml
.ruby-gemset
.ruby-version
