<% if !@tag_reference_save.errors.empty? %>
  $("#add-tags-form #add-tag-errors").html("<%= j (render 'add_tags_error') %>").show();
<% else %>
  $('#add-tags-form').html("<%= j (render 'form') %>");
  $('#second_page_tag_list').append("<li><%= @tag_reference_save.tag.tag %></li>");  
  $('#add-tags-current-tags #current_tag_list').append("<li><%= @tag_reference_save.tag.tag %></li>");  
  
  $("#add-tags-form #tag_lookup").autocomplete({
    source: function( request, response ) {
      $.ajax( {
        url: "/tags",
        dataType: "json",
        data: {
          term: request.term
        },
        success: function( data ) {
          response( data );
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log(textStatus);                       
        }
      } );
    },
     minLength: 2,
     select: function(event, ui) {
        //auto populate other fields when selected item
        $("#add-tags-form #tag_reference_tag_id").val(ui.item.id);
        // $("#add-tags-form").submit();
     }
  });
<% end %>  
