- if program.program_type? && program.projects.present?
  .col-md-12.space-col
    %h3 Projects
    .row
      = render partial: 'programs/program', collection: program.projects, as: :program, locals: { col: 'col-md-12' }
