%h3 Connections
.row.following_follower_nav
  .col-md-12
    %ul.nav.nav-tabs#following_follower_tabs{:role=>"tablist"}
      %li.active
        %a{:href => "#following_tab", "aria-controls"=>"profile-tab", :role=>"tab", "data-toggle"=>"tab"}
          %span.tab-title Following
          &nbsp;#{@user.following.size}
      %li
        %a{:href => "#follower_tab", "aria-controls"=>"profile-tab", :role=>"tab", "data-toggle"=>"tab",:id=>'profile-program-tab'}
          %span.tab-title Followers
          &nbsp;#{@user.followers.size}

    .tab-content
      .container-fluid.tab-pane.fade.in.active.pl-0#following_tab{:role=>"tabpanel"}
        = render 'following_follower',
          users: @user.following, empty_text: @user.decorate.following_empty_text

      .container-fluid.tab-pane.fade.pl-0#follower_tab{:role=>"tabpanel"}
        = render 'following_follower',
          users: @user.followers, empty_text: @user.decorate.follower_empty_text
