.space-col.clearfix
  - if @missions.blank?
    .no-data.publications-no-data.text-center
      = inline_svg('rocket.svg', class: 'fill_width_icon')
      %p.fill_width_caption
        - if current_user && current_user == @user
          You have not joined any missions yet.
        - else
          This user has not joined any missions yet.
  - else
    = render partial: 'missions/mission', collection: @missions,
      as: :mission, locals: { col: 'col-md-4 col-sm-6 col-xs-12' }
