.landing-cover
  .fixed-bg-slide
    .imgbg.stars-cover
.container.landing-cover-detail.center-text
  %div.pt-50
    %h1 CONTACT US
    %h3 Have any questions or feedback?
    %h3 We would love to hear you. Send us a message!
#contact.container
  .main.mt-30.mb-50
    .row
      .col-md-6.col-md-offset-3#contact_form
        = render "pages/contact_form"
