.landing-cover
  .fixed-bg-slide
    .imgbg.coin-cover
.container.landing-cover-detail.center-text
  %div.pt-50
    %h1{:style => "margin-top: 60px"} CRYPTO CONTRIBUTIONS
    %h3 You prefer crypto? So do we! If you want to help support us we have a few crypto options for you. 
    %h3 Be sure to double check the addresses before sending.



#contribute.container.platform-show-container
  .row.cont-margin
    .col-md-4
      .col-md-12.contribute-crypto.space-col
        %h1 BTC
        %p.word-break 3A3HJtEwjvFawgGLTC2zTv2sxXtKo8YcDp
        = inline_svg('contribute/btc.svg', title: 'code', class: 'contribute-icon')
    .col-md-4
      .col-md-12.contribute-crypto.space-col
        %h1 ETH
        %p.word-break 0xf6346CD9D0B90ca55CA8b128788a06D2c0E70DD3
        = inline_svg('contribute/eth.svg', title: 'donate', class: 'contribute-icon')
    .col-md-4
      .col-md-12.contribute-crypto.space-col
        %h1 ZEC
        %p.word-break t1JGpM3pC2oVPGQLHd9kvbR5oVrD11zhHw1
        = inline_svg('contribute/zec.svg', title: 'code', class: 'contribute-icon')
