.landing-cover
  .fixed-bg-slide
    .imgbg.stars-cover
.container.landing-cover-detail.center-text
  %div.pt-50
    %h1 JOIN SPACE COOPERATIVE
    %h3 We are a worker-owned cooperative that is looking to grow our team.

.container
  #membership.content-area
    .main.site-main{:role => "main"}
      %article
        .entry-content
          %p{:style => "text-align: center; font-size: 150%;"}
            %strong
              %a.btn.btn-theme-primary.btn-lg{:href => "https://goo.gl/forms/78f812y3jL0JpnKd2", :target => "_blank"} Fill Out Application
          %p
            %span The skills below are in highest demand for our immediate roadmap, but please still fill out the application if you feel aligned with our vision and working cooperatively.
          %p.note Note: We are in our early stages and are currently a volunteer-driven organization. Your location does not matter, as we typically meet and collaborate virtually, although most of us are located in Silicon Valley and the Greater Los Angeles Area. 
          %ul
            %li Full Stack & Smart Contract Developers
            %li Space Mission Engineers
            %li Program & Project Managers
            %li Business Development
            %li Export Control Compliance Experts
            %li Product Managers / UX Designers
            %li Social Media Marketing / Writing
            %li Visual Arts

          %p{:style => "text-align: center; font-size: 150%;"}
            %strong
              %a.btn.btn-theme-primary.btn-lg{:href => "https://goo.gl/forms/78f812y3jL0JpnKd2", :target => "_blank"} Fill Out Application
          %h3 COOPERATIVE PRINCIPLES
          %ol.principles
            %li Membership of Space Cooperative Inc. is open to all individuals willing and able to positively contribute and participate in its operation, regardless of prior or current affiliation and national, political, ideological, cultural, spiritual, ethnic, racial, sexual, or gender identity.
            %li All members of Space Cooperative Inc. are guaranteed the right to freely assemble to discuss and vote upon its operations and policies.
            %li All members of Space Cooperative Inc. are guaranteed the right to contribute finances and other non-monetary services to its operations.
            %li Space Cooperative Inc. may enter into agreements with external organizations with the voting consent of its members, provided that none of Space Cooperative Inc.’s standing by-laws or principles are violated by the agreement.
            %li Space Cooperative Inc. shall maintain and share best-practice policies among its members to further its mission.
            %li Space Cooperative Inc. shall freely and transparently share its goals and benefits with the public.
            %li Space Cooperative Inc. shall coordinate with and support the efforts of other cooperatives where such activity furthers the mission of Space Cooperative Inc.
            %li Space Cooperative Inc. shall consider the impact of its operations and services on local and affected communities wherever possible.
            %li Each individual member’s vote over all matters, shall be equal in magnitude to any other individual member’s vote, regardless of membership status.
