.landing-cover
  .fixed-bg-slide
    .imgbg
.container.landing-cover-detail.center-text
  %div.pt-50
    %h1 FINANCIAL SUPPORT
    %h3 If you believe in our vision and want to help us grow so we can implement the rest of our roadmap, a little bit of cash or crypto would help!



#contribute.container.platform-show-container
  .row
    .col-md-4
      .col-md-12.contribute-box.space-col
        = inline_svg('contribute/donate.svg', title: 'co-owner', class: 'contribute-icon')
        %h2 PayPal
        %p button
        %p{:style => "text-align: center; font-size: 150%;"}
          %strong
            %a.btn.btn-primary{:href => "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YQ498W4U82UFL"} Subscribe
    .col-md-4
      .col-md-12.contribute-box.space-col
        = inline_svg('contribute/bitcoin_qr.svg', title: 'code', class: 'contribute-icon')
        %h2 Bitcoin
        %p 1Do8atJHmrMvphFvzFcMkqubZspfNgrX1E 
    .col-md-4
      .col-md-12.contribute-box.space-col
        = inline_svg('contribute/ether_qr.svg', title: 'donate', class: 'contribute-icon')
        %h2 Ethereum
        %p 0xeb23287F0560b851872e9D4BF63D1aaD48A7D98f
