.post-list
- if posts.blank?
  = render "shared/nodata"
- else
  - remote ||= nil
  - request_from ||= nil

  = render partial: "posts/post", collection: posts, as: :post, locals: { remote: remote, request_from: request_from }
- if posts.current_page < posts.total_pages
  .row
    .col-md-12.center-text
      = link_to "Load more",
        load_more_posts_path(filter: params[:filter], page: (posts.current_page + 1), request_from: request_from),
        id: 'js_load_more', remote: true, class: 'show-more', data: { page: posts.current_page + 1 }

