You are receiving this mail because you have unread notifications on SpaceDecentral.Net:

= @notifiee[:message_text].each do |msg|
  = msg

If you wish to receive no further email notifications, you can change your account settings here:

https://spacedecentral.net/settings

best regards,
SpaceDecentral.Net

