%p You are receiving this email because forum replies have been received to a thread you are watching:

- @notifiee[:message_html].each do |msg|
  %p
    != msg

%p If you wish to receive no further email notifications, you can change your account settings here:

%p
  %a{ :href => "https://spacedecentral.net/settings", :title => "Settings" }
    https://spacedecentral.net/settings

%p
  best regards,
  %br/
  %a{ :href => "https://spacedecentral.net", :title => "SpaceDecentral.Net" }
    SpaceDecentral.Net

