//TODO ADD BETTER ADMIN PANEL
#program_user_roles_index
  = render 'program_user_roles'

/ #program_user_role_modal.modal.fade{:tabindex=>"-1", :role=>"dialog", "data-show"=>"false"}
/   .modal-dialog{:role=>"document" }
/     .modal-content 
/       .modal-header 
/         %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-label"=>"Close"} 
/           %span{"aria-hidden"=>"true"} &times;
/         %h4.modal-title 
/           New User Program Role
/       .modal-body#program_user_role_form
/       .modal-footer 
/         %button.btn.btn-default{:type=>"button", "data-dismiss"=>"modal"} Close
