.contact-form {
  .form-group {
    .form-control {
      border-radius: 0;
      border: 1px solid #e8e8e8;
      padding: 20px 15px;
      box-shadow: none;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
