.space-chat-well {
  margin: 30px 0 30px 0;
  border: 0px;
  border-radius: 4px;
  background-color: #fff !important;
  height: 500px;
  input {
    width: 100%;
  }
  .space-chat-left {
    border-right:1px solid #eee;
    width: 49%;
    height: 477px;
    overflow-y: scroll;
    padding-right: 20px;
    ul {
      list-style: none;
      margin: 20px 0 0 0 !important;
      padding-left: 0px !important
    }
    h2 {
      margin: 0px;
    }
    .new-message {
      border: 0px;
      background-color: #fff;
    }
  }
  .space-chat-right {
    width: 49%;
    height: 477px;
    overflow-y: scroll;
    .user_chat_pm_container {
      position: relative;
      max-height: 100%;
      min-height: 100%;
      right: auto;
      bottom: auto;
      padding: 0px 0px 0px 0px;
      background-color: #fff;
      width: 100%;
      .user_chat_pm {
        height:100%;
        position: relative;
        bottom: 0px;
        .user_chat_pm_feed {          
          height:90%;
        }
      }
    }
  }
}
.chat_name {
  font-weight: bold;
  font-size: 12px;
  float: left; 
  margin-left: 9px;
}
.chat_time {
  font-weight: 300;
  font-size: 12px;
  float: left; 
  margin-left: 5px;
  clear: right;
}
.chat_message {
  margin: 5px 5px 7px 9px;
  width: 100%;
  float: left;
  font-size: 16px;
  clear: both;
}
.user_chat_pm_container {
  position: fixed;
  right: 70px;
  bottom: 0px;
  z-index: 199;
  background-color: #404040;
  padding: 30px 0px 0px 0px;
  width: 275px;

  .chat_open_toggle { 
    margin-top:-27px; 
    width:100%; 
    height: 27px;
  }
  .user_chat_pm {
    background-color: #eceff1;
    height: 335px;
    float: left;
    width: 100%;

    .message-avatar {
      width: 27px;
      height: 27px;
      border-radius: 50%;
    }
    .sent_message {
      border-radius: 12px;
      text-align: right;
      margin: 0px 7px 0px 7px;
      word-break: break-word;

      .chat_name {
        float: right; 
      }
      .chat_time {
        float: right;
        clear: none;
      }
      .chat_message {
        background-color: #cfd8dc;
        float: right;
        clear: both;
        padding: 7px;
      }  
      .message-avatar {
        margin: 0px 10px 5px 0px;
      }
    }
    .from_message {
      border-radius: 12px;
      margin: 0px 7px 0px 7px;
      .chat_message {
        background-color: #fff;
        padding: 7px;
      }  
      .message-avatar {
        margin: 0px 0px 5px 10px;
      }
    }
    .user_chat_pm_feed {
      height: 235px;
      float:left;
      width: 100%;
      overflow-y: scroll; 
      overflow-x: hidden;
    }
    .user_chat_pm_reply {
      float: left;
      width: 100%;
      height: 85px;
      .user_pm_group {
        height:44px;
        width: 100%;
      }
      .user_pm_message {
        width: 70%;
        height: 40px;
        resize: none;
      }
      .chip {
        margin-top: 3px;
      }
      .btn-primary {
        height: 40px;
        width: 30%;
      }
    }
  }
}
.mission_chat {
  position: fixed;
  bottom: 0px;
  left:25%;
  width: 50%;
  height:30px;
  border-color: #00aaaa;
  background-color: #00aaaa;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  .mission_chat_toggle {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 30px;
    padding-left: 22px;
  }
  .mission_chat_feed {
    float: left;
    width: 100%;
    height: 360px;
    overflow: scroll;
  }
  .mission_chat_reply {
    width: 100%;
    height:40px;
    float: left;
    input {
      width: 70%;
      height: 40px;
    }
    .btn-primary {
      height: 40px;
      width: 30%;
    }
  }
  .mission_chat_pullup {
    height:400px;
    width: 100%;
    background-color: #fff;
    padding-bottom: 45px;
    .row {
      margin: 7px;
      padding: 5px 5px 0px 3px;
      font-size: 17px;
    }
  }
}
@media(max-width: 480px){
  .mission_chat {
    bottom: 0px;
    left: 2%;
    width: 96%;
    height:30px;
  }
  .mission_chat .mission_chat_pullup input {
    width: 75%;
  }
  .mission_chat .mission_chat_pullup .btn-primary {
    width: 20%;
  }
  .mission_chat .mission_chat_reply {
    width: 100%;  
  }
}