.manage_users_actions {
  margin: 12px 0 12px 0;
  padding: 7px;
}
.manage_users_list {
  padding: 7px;
  background-color: #fff;
  .green {
    color: #090;
  }
  .red {
    color: #900;
  }
  .orange {
    color: #C90;
  }
}