.container.platform-show-container.mission_index
  - if user_signed_in? && current_user.is_admin_user?
    .row.mb-20
      .col-md-12
        = link_to 'Create New Mission', new_mission_path,
          class: "btn btn-primary pull-right", id: "create_new_mission_button"
  .row
    = render partial: 'missions/mission', collection: @missions, as: :mission

.container-fluid.container-margin.platform-cover-container.bottom-platform-cover-container.mt-30
  .platform-cover.landing-cover
    .fixed-bg-slide
      .imgbg

= render 'shared/footer'
